form{
    width: 350px;
    background-color: khaki;
    position: relative;
    top: 50px;
    left: 50px;
}

div{
    border: black 1px solid;
    width: 500px;
    position: relative;
    top: -260px;
    left: 600px;
    background-color: khaki;
}

body{
    background-color: lightgreen;
}

legend{
    font-size: xx-large;
}